<strong>Welcome</strong>
<br>
<% if logged_in? %>
  Logged in as: <%= current_user.name %>
<% end %>

<p>
  <%= button_to 'Login', '/login', method: :get %>
  <%= button_to 'Sign Up', '/users/new', method: :get %>
</p>