$d-blue:  #000066;
$blue:    #000099;
$l-blue:  #0044bb;
$d-teal:  #008888;
$teal:    #00cccc;
$l-teal:  #00ffff;

$main-bg-a:   $d-blue;
$main-bg-b:   $l-blue;
$main-text:   $l-teal;

$header-bg-a: $d-teal;
$header-bg-b: $teal;
$header-text: white;

$board-bg-a:  $blue;
$board-bg-b:  $l-blue;

$table-a:     $l-teal;
$table-b:     $teal;

html {
  height: 100%;
}

body {
  font-family: verdana;
  font-size: 16px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  min-width: 500px;
  max-width: 1000px;
  color: $main-text;
  background: linear-gradient($main-bg-a, $main-bg-b);
}

table {
  background-color: $header-bg-b;

  td, th {
    padding: 0.5em;
  }
}

a {
  color: yellow;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: orangered;
  }
}

.title {
  font-size: calc(1em + 2vw);
  font-weight: bold;
  min-height: 50px;
}

.index, .topic {
  border: 8px outset $table-a;
  width: 100%;
  border-spacing: 1px;

  th {
    text-align: left;
    color: $header-text;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background: linear-gradient($header-bg-a, $header-bg-b);
  }
}

.index {
  tr:nth-child(even) {
    background-color: $board-bg-a;
  }

  tr:nth-child(odd) {
    background-color: $board-bg-b;
  }
}

.topic {
  tr:nth-child(4n-1), tr:nth-child(4n-2) {
    background-color: $board-bg-a;
  }

  tr:nth-child(4n-3), tr:nth-child(4n-4) {
    background-color: $board-bg-b;
  }
}

.button {
  border: calc(0.4em + 0.2vw) outset $table-a;
  padding: 0.5em;
  margin-top: 0.5em;
  font-size: calc(0.8em + 0.2vw);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background: linear-gradient($d-teal, $teal);
}

.subtitle {
  font-size: 0.8em;
  
  a {
    font-weight: normal;
  }
}