<% @categories.sort_by(&:order).each do |cat| %>
  <table width="100%" border="8" cellpadding="8" margin="0" cellspacing="0" bgcolor="#0044BB">
    <tr bgcolor="#008888">
      <th align="left" width="70%">
        <%= cat.title %>
      </th>
      <th align="left" width="10%">
        Topics / Posts
      </th>
      <th align="left" width="20%">
        Last Post
      </th>
    </tr>
    <% cat.boards.sort_by(&:order).each do |board| %>
      <tr>
        <td>
          <strong><%= link_to board.title, board_path(board.id) %></strong>
          <br>
          <%= board.description %>
        </td>
        <td>
          Topics: XXX
          <br>
          Posts: XXX
        </td>
        <td>
          Topic name
          <br>
          User name
          <br>
          Post date
        </td>
      </tr>
    <% end %>
  </table>
  <% unless cat == @categories.last %>
    <br>
  <% end %>
<% end %>
