<strong>Currently Active Users</strong>
<p>
  <span>(User1, User2...)</span>
</p>

<strong>Forum Statistics</strong>
<p>
  <span>Topics: XXX</span>
  <span>Posts: XXX</span>
  <span>Users: XXX</span>
</p>