<table border="8" cellpadding="8" bgcolor="#009999">
  <tr>
  <% if true %>
    <th>
      <strong><%= link_to 'Register Account', 'index' %></strong>
    </th>
    <th>
      <strong><%= link_to 'Log In', 'index' %></strong>
    </th>
  <% else %>
    <th>
      <strong>Logged in as: <%= link_to 'Username', 'index' %></strong>
    </th>
    <th>
      <strong><%= link_to 'Log Out', 'index' %></strong>
    </th>
  <% end %>
  </tr>
</table>